<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>全局 CSS 样式</h1>
        <p>设置全局 CSS 样式；基本的 HTML 元素均可以通过 class 设置样式并得到增强效果；还有先进的栅格系统。</p>
    </div>
</div>
