<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Suite</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../getting-started/">起步</a>
                </li>
                <li class="active">
                    <a href="../css/">全局 CSS 样式</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>全局 CSS 样式</h1>
        <p>设置全局 CSS 样式；基本的 HTML 元素均可以通过 class 设置样式并得到增强效果；还有先进的栅格系统。</p>
    </div>
</div>
