<div class="bs-docs-section">
    <h1 id="breadcrumbs" class="page-header">路径导航</h1>

    <p class="lead">在一个带有层次的导航结构中标明当前页面的位置。</p>
    <p>各路径间的分隔符已经自动通过 CSS 的 <code>:before</code> 和 <code>content</code> 属性添加了。</p>
    <div class="bs-example" data-example-id="simple-breadcrumbs">
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
        <ol class="breadcrumb">
            <li><a href="javascript:;">Home</a></li>
            <li class="active">Library</li>
        </ol>
        <ol class="breadcrumb">
            <li><a href="javascript:;">Home</a></li>
            <li><a href="javascript:;">Library</a></li>
            <li class="active">Data</li>
        </ol>

        <ol class="breadcrumb">
            <li><a href="javascript:;">Pagurian</a></li>
            <li><a href="javascript:;">基础UI</a></li>
            <li><a href="javascript:;">面包屑导航</a></li>
            <li class="active-highlight">突出显示的面包屑</li>
        </ol>
    </div>
</div>
