<!--BUTTON GROUP-->
<div class="bs-docs-section">
    <h1 id="btn-groups" class="page-header">按钮组</h1>

    <p class="lead">通过按钮组容器把一组按钮放在同一行里。通过与<a href="../javascript/#buttons">按钮插件</a>联合使用，可以设置为单选框或多选框的样式和行为。</p>

    <h2 id="btn-groups-single"><a class="anchorjs-link " href="#btn-groups-single" aria-label="Anchor link for: btn groups single" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>基本实例</h2>
    <p>Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code>.</p>
    <div class="bs-example" data-example-id="simple-button-group">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-default active">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>

    <h2 id="btn-groups-toolbar"><a class="anchorjs-link " href="#btn-groups-toolbar" aria-label="Anchor link for: btn groups toolbar" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>按钮工具栏</h2>
    <p>把一组 <code>&lt;div class="btn-group"&gt;</code> 组合进一个 <code>&lt;div class="btn-toolbar"&gt;</code> 中就可以做成更复杂的组件。</p>
    <div class="bs-example" data-example-id="simple-button-toolbar">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-default active">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <button type="button" class="btn btn-default">5</button>
                <button type="button" class="btn btn-default">6</button>
                <button type="button" class="btn btn-default">7</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-default">8</button>
            </div>
        </div>
    </div>

    <h2 id="btn-groups-sizing">尺寸</h2>
    <p>只要给 <code>.btn-group</code> 加上 <code>.btn-group-*</code> 类，就省去为按钮组中的每个按钮都赋予尺寸类了，如果包含了多个按钮组时也适用。</p>
    <div class="bs-example" data-example-id="button-group-sizing">
        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <button type="button" class="btn btn-default active">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
        <br>
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-default active">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
        <br>
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
            <button type="button" class="btn btn-default active">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
        <br>
        <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-default active">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>

    <h2 id="btn-groups-nested">嵌套</h2>
    <p>想要把下拉菜单混合到一系列按钮中，只须把 <code>.btn-group</code> 放入另一个 <code>.btn-group</code> 中。</p>
    <div class="bs-example" data-example-id="button-group-nesting">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-default active">1</button>
            <button type="button" class="btn btn-default">2</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h2 id="btn-groups-vertical">垂直排列</h2>
    <p>让一组按钮垂直堆叠排列显示而不是水平排列。<strong class="text-danger">分列式按钮下拉菜单不支持这种方式。</strong></p>
    <div class="bs-example" data-example-id="vertical-button-group">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button type="button" class="btn btn-default">Button</button>
            <button type="button" class="btn btn-default">Button</button>
            <div class="btn-group" role="group">
                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-default">Button</button>
            <button type="button" class="btn btn-default">Button</button>
            <div class="btn-group" role="group">
                <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupVerticalDrop3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop3">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupVerticalDrop4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop4">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h2 id="btn-groups-justified">两端对齐排列的按钮组</h2>
    <p>让一组按钮拉长为相同的尺寸，填满父元素的宽度。对于按钮组中的按钮式下拉菜单也同样适用。</p>

    <div class="bs-callout bs-callout-warning" id="callout-btn-group-justified-dbl-border">
        <h4>关于边框的处理</h4>
        <p>由于对两端对齐的按钮组使用了特定的 HTML 和 CSS （即 <code>display: table-cell</code>），两个按钮之间的边框叠加在了一起。在普通的按钮组中，<code>margin-left: -1px</code> 用于将边框重叠，而没有删除任何一个按钮的边框。然而，<code>margin</code> 属性不支持 <code>display: table-cell</code>。因此，根据你对 Bootstrap 的定制，你可以删除或重新为按钮的边框设置颜色。</p>
    </div>
    <div class="bs-callout bs-callout-warning" id="callout-btn-group-ie8-border">
        <h4>IE8 和边框</h4>
        <p>Internet Explorer 8 不支持在两端对齐的按钮组中绘制边框，无论是 <code>&lt;a&gt;</code> 或 <code>&lt;button&gt;</code> 元素。为了照顾 IE8，把每个按钮放入另一个 <code>.btn-group</code> 中即可。</p>
        <p>参见 <a href="https://github.com/twbs/bootstrap/issues/12476">#12476</a> 获取详细信息。</p>
    </div>

    <h4 id="a">元素</h4>
    <p>只须将一系列 <code>.btn</code> 元素包裹到 <code>.btn-group.btn-group-justified</code> 中即可。</p>
    <div class="bs-example" data-example-id="simple-justified-button-group">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <a href="#" class="btn btn-default" role="button">Left</a>
            <a href="#" class="btn btn-default" role="button">Middle</a>
            <a href="#" class="btn btn-default" role="button">Right</a>
        </div>
        <br>
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
            <a href="#" class="btn btn-default" role="button">Left</a>
            <a href="#" class="btn btn-default" role="button">Middle</a>
            <div class="btn-group" role="group">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bs-callout bs-callout-warning" id="callout-btn-group-anchor-btn">
        <h4>Links acting as buttons</h4>
        <p>If the <code>&lt;a&gt;</code> elements are used to act as buttons – triggering in-page functionality, rather than navigating to another document or section within the current page – they should also be given an appropriate <code>role="button"</code>.</p>
    </div>

    <h4 id="button">关于 <code>&lt;button&gt;</code> 元素</h4>
    <p>为了将 <code>&lt;button&gt;</code> 元素用于两端对齐的按钮组中，<strong class="text-danger">必须将每个按钮包裹进一个按钮组中you must wrap each button in a button group</strong>。大部分的浏览器不能将我们的 CSS 应用到对齐的 <code>&lt;button&gt;</code> 元素上，但是，由于我们支持按钮式下拉菜单，我们可以解决这个问题。</p>
    <div class="bs-example" data-example-id="button-tag-button-group-justified">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Left</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Middle</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Right</button>
            </div>
        </div>
    </div>
</div>
<!--BUTTON GROUP END-->
