<div class="bs-docs-section">
    <h1 id="popovers" class="page-header">弹出框
        <small>popover.js</small>
    </h1>

    <p>为任意元素添加一小块浮层，就像 iPad 上一样，用于存放非主要信息。</p>
    <p>弹出框的标题和内容的长度都是零的话将永远不会被显示出来。</p>

    <div class="bs-callout bs-callout-danger" id="callout-popover-needs-tooltip">
        <h4>插件依赖</h4>
        <p>弹出框依赖 <a href="#tooltips">工具提示插件</a> ，因此，如果你定制了 Bootstrap，一定要注意将依赖的插件编译进去。</p>
    </div>
    <div class="bs-callout bs-callout-danger" id="callout-popover-opt-in">
        <h4>初始化</h4>
        <p>由于性能的原因，工具提示和弹出框的 data 编程接口（data api）是必须要<strong>手动初始化的</strong>。</p>
        <p>在一个页面上一次性初始化所有弹出框的方式是通过 <code>data-toggle</code> 属性选中他们：</p>
    </div>

    <h2 id="popovers-examples">实例</h2>
    <h3 id="-6">静态弹出框</h3>
    <p>4个可能的弹出方向：顶部、右侧、底部和左侧。</p>
    <div class="bs-example bs-example-popover" data-example-id="static-popovers">
        <div class="popover top">
            <div class="arrow"></div>
            <h3 class="popover-title">Popover 顶部</h3>
            <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                    venenatis vestibulum.</p>
            </div>
        </div>

        <div class="popover right">
            <div class="arrow"></div>
            <h3 class="popover-title">Popover 右侧</h3>
            <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                    venenatis vestibulum.</p>
            </div>
        </div>

        <div class="popover bottom">
            <div class="arrow"></div>
            <h3 class="popover-title">Popover 顶部</h3>

            <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                    venenatis vestibulum.</p>
            </div>
        </div>

        <div class="popover left">
            <div class="arrow"></div>
            <h3 class="popover-title">Popover 左侧</h3>
            <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                    venenatis vestibulum.</p>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <h3 id="-7">实例演示</h3>
    <div class="bs-example bs-example-padded-bottom">
        <button type="button" class="btn btn-lg btn-danger bs-docs-popover" data-toggle="popover" title=""
                data-content="And here's some amazing content. It's very engaging. Right?"
                data-original-title="Popover title">点我弹出/隐藏弹出框
        </button>
    </div>

    <h4 id="4">4个弹出方向</h4>
    <div class="bs-example popover-demo">
        <div class="bs-example-popovers">
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                    data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    data-original-title="" title="">
                Popover on 左侧
            </button>
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                    data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    data-original-title="" title="">
                Popover on 顶部
            </button>
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                    data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    data-original-title="" title="">
                Popover on 底部
            </button>
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                    data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    data-original-title="" title="">
                Popover on 右侧
            </button>
        </div>
    </div>

    <h4>点击并让弹出框消失</h4>
    <p>通过使用 <code>focus</code> 触发器可以在用户点击弹出框是让其消失。</p>
    <div class="bs-callout bs-callout-danger" id="callout-popover-dismiss-click">
        <h4>实现“点击并让弹出框消失”的效果需要一些额外的代码</h4>
        <p>为了更好的跨浏览器和跨平台效果，你必须使用 <code>&lt;a&gt;</code> 标签，<i>不能</i>使用 <code>&lt;button&gt;</code> 标签，并且，还必须包含 <code>role="button"</code>
            和
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes#tabindex"><code>tabindex</code></a>
            属性。</p>
    </div>
    <div class="bs-example bs-example-padded-bottom">
        <a tabindex="0" class="btn btn-lg btn-danger bs-docs-popover" role="button" data-toggle="popover"
           data-trigger="focus" title="" data-content="And here's some amazing content. It's very engaging. Right?"
           data-original-title="Dismissible popover">可消失的弹出框</a>
    </div>
</div>
