//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  list-style: none;

  > li {
    display: inline-block;

    a {
      cursor: pointer;
      transition: color .3s linear;
    }

    + .breadcrumb-separator {
      margin: 0 4px;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}
