//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      font-family: @breadcrumb-separator-font;
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 3px 0 0;
      color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }

  > .highlight, > .active-highlight {
    display: block;
    font-size: @font-size-large;
    color: @breadcrumb-active-color;
    padding-top: @base-unit-px;

    &:before {
      content: "";
      padding: 0;
    }
  }
}
