//
// Button groups
// --------------------------------------------------

// Make the div behave like a button
.@{ns}btn-group,
.@{ns}btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle; // match .btn alignment given font-size hack above

    > .@{ns}btn {
        position: relative;
        float: left;
        transition: background .0s;
        // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active,
        &.active {
            z-index: 2;
        }
    }
}

.@{ns}btn-group {
    .@{ns}btn + .@{ns}btn:not(:last-child),
    .@{ns}btn + .@{ns}btn-group:not(:last-child),
    .@{ns}btn-group + .@{ns}btn:not(:last-child),
    .@{ns}btn-group + .@{ns}btn-group:not(:last-child) {
        border-radius: 0;
    }

    //** Horizontal Button remove radius
    &:not(.@{ns}btn-group-vertical) > .@{ns}btn:first-child {
        .border-right-radius(0);
    }

    &:not(.@{ns}btn-group-vertical) > .@{ns}btn:last-child {
        .border-left-radius(0);
    }

    //** Vertical Button remove radius
    &.@{ns}btn-group-vertical > .@{ns}btn:first-child {
        .border-bottom-radius(0);
    }

    &.@{ns}btn-group-vertical > .@{ns}btn:last-child {
        .border-top-radius(0);
    }
}

//btn-group
.@{ns}btn-group {
    &.@{ns}btn-group-sm {
        .@{ns}btn:not(.@{ns}disabled), .@{ns}btn.@{ns}disabled.@{ns}active {
            &:hover, &:active, &.active {
                padding-bottom: @padding-small-vertical;
            }
        }
    }

    &.@{ns}btn-group-xs {
        .@{ns}btn:not(.@{ns}disabled), .@{ns}btn.@{ns}disabled.@{ns}active {
            &:hover, &:active, &.active {
                padding-bottom: @padding-xs-vertical;
            }
        }
    }

    > .@{ns}btn {

        &:not(.@{ns}disabled):hover {
            background-color: darken(@btn-default-bg, 5%);
        }

        &:active, &.active {
            &.disabled {
                background: @btn-default-disabled-bg;
            }
        }
    }
}

// Optional: Group multiple button groups together for a toolbar
.@{ns}btn-toolbar {
    margin-left: -5px; // Offset the first child's margin
    &:extend(.clearfix all);

    .@{ns}btn,
    .@{ns}btn-group,
    .@{ns}input-group {
        float: left;
    }
    > .@{ns}btn,
    > .@{ns}btn-group,
    > .@{ns}input-group {
        margin-left: 5px;
    }
}

// Custom edits for including btn-groups within btn-groups (useful for including dropdown buttons within a btn-group)
.@{ns}btn-group > .@{ns}btn-group {
    float: left;
}

.@{ns}btn-group > .@{ns}btn-group:not(:first-child):not(:last-child) > .@{ns}btn {
    border-radius: 0;
}

.@{ns}btn-group > .@{ns}btn-group:first-child:not(:last-child) {
    > .@{ns}btn:last-child,
    > .@{ns}dropdown-toggle {
        .border-right-radius(0);
    }
}

.@{ns}btn-group > .@{ns}btn-group:last-child:not(:first-child) > .@{ns}btn:first-child {
    .border-left-radius(0);
}

// On active and open, don't show outline
.@{ns}btn-group .dropdown-toggle:active,
.@{ns}btn-group.open .dropdown-toggle {
    outline: 0;
}

// Sizing
//
// Remix the default button sizing classes into new ones for easier manipulation.

.@{ns}btn-group-xs > .btn {
    &:extend(.btn-xs);
}

.@{ns}btn-group-sm > .btn {
    &:extend(.btn-sm);
}

.@{ns}btn-group-lg > .btn {
    &:extend(.btn-lg);
}

// Split button dropdowns
// ----------------------
.@{ns}btn-group.open {
    .dropdown-toggle.btn {
        z-index: (@zindex-dropdown+10);

        &, &:active, &:focus, &:hover {
            background: white;
            padding-bottom: (@padding-base-vertical+1);
        }

        &:hover {
            padding-bottom: (@padding-base-vertical+1);
        }

        &.btn-lg {
            &, &:active, &:focus, &:hover {
                padding-bottom: (@padding-large-vertical+1);
            }
        }

        &.btn-sm {
            &, &:active, &:focus, &:hover {
                padding-bottom: (@padding-small-vertical+1);
            }
        }

        &.btn-xs {
            &, &:active, &:focus, &:hover {
                padding-bottom: (@padding-xs-vertical+1);
            }
        }
    }

    .dropdown-menu {
        z-index: (@zindex-dropdown+5);
    }
}

.@{ns}btn-group.open.dropup {
    .dropdown-toggle.btn {
        z-index: (@zindex-dropdown+10);

        &, &:active, &:focus, &:hover {
            background: white;
            padding-top: (@padding-base-vertical+1);
            padding-bottom: @padding-base-vertical;
        }

        &:hover {
            padding-top: (@padding-base-vertical+1);
            padding-bottom: @padding-base-vertical;
        }

        &.btn-lg {
            &, &:active, &:focus, &:hover {
                padding-top: (@padding-large-vertical+1);
                padding-bottom: @padding-large-vertical;
            }
        }

        &.btn-sm {
            &, &:active, &:focus, &:hover {
                padding-top: (@padding-small-vertical+1);
                padding-bottom: @padding-small-vertical;
            }
        }

        &.btn-xs {
            &, &:active, &:focus, &:hover {
                padding-top: (@padding-xs-vertical+1);
                padding-bottom: @padding-xs-vertical;

            }
        }
    }
}

// Give the line between buttons some depth
.@{ns}btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}

.@{ns}btn-group > .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}

// The clickable button for toggling the menu
// Remove the gradient and set the same inset shadow as the :active state
.@{ns}btn-group.open .dropdown-toggle {
    .box-shadow(none);

    // Show no shadow for `.btn-link` since it has no other button styles.
    &.btn-link {
        .box-shadow(none);
    }
}

// Reposition the caret
.@{ns}btn .caret {
    margin-left: 0;
}

// Vertical button groups
// ----------------------

.@{ns}btn-group-vertical {
    > .btn,
    > .btn-group,
    > .btn-group > .btn {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
    }

    // Clear floats so dropdown menus can be properly placed
    > .btn-group {
        &:extend(.clearfix all);
        > .btn {
            float: none;
        }
    }

    > .btn + .btn,
    > .btn + .btn-group,
    > .btn-group + .btn,
    > .btn-group + .btn-group {
        margin-top: -1px;
        margin-left: 0;
    }
}

// Justified button groups
// ----------------------

.@{ns}btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    > .@{ns}btn,
    > .@{ns}btn-group {
        float: none;
        display: table-cell;
        width: 1%;
    }
    > .@{ns}btn-group .@{ns}btn {
        width: 100%;
    }

    > .@{ns}btn-group .@{ns}dropdown-menu {
        left: auto;
    }
}

// Checkbox and radio options
//
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

[data-toggle="buttons"] {
    > .btn,
    > .btn-group > .btn {
        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            pointer-events: none;
        }
    }
}

//suite-button-group
//------------------

.@{ns}btn-group-primary {
    .button-group-btn(@brand-primary, @brand-primary-hover);
}

.@{ns}btn-group-success {
    .button-group-btn(@brand-success, @brand-success-hover);
}

.@{ns}btn-group-warning {
    .button-group-btn(@brand-warning, @brand-warning-hover);
}

.@{ns}btn-group-danger {
    .button-group-btn(@brand-danger, @brand-danger-hover);
}

.@{ns}btn-group-info {
    .button-group-btn(@brand-info, @brand-info-hover);
}

.@{ns}btn-group-link {
    .button-group-btn(@brand-primary, @brand-primary-hover);

    &.@{ns}btn-group {
        .@{ns}btn.disabled:hover {
            background-color: white;
            color: @brand-primary;
        }
    }

    &.@{ns}btn-group {
        .btn-link:focus, .btn-link:hover {
            color: white;
        }
    }
}

.@{ns}btn-group-lg {
    &.@{ns}btn-group .@{ns}btn:hover,
    .@{ns}dropdown-toggle.@{ns}btn:hover {
        padding-bottom: (@padding-large-vertical - 1);
    }

    &.@{ns}btn-group.@{ns}disabled .@{ns}btn:hover,
    .@{ns}dropdown-toggle.disabled.btn:hover {
        padding-bottom: @padding-large-vertical;
    }

    &.@{ns}btn-group.@{ns}open .@{ns}dropdown-toggle.@{ns}btn:hover {
        padding-bottom: (@padding-large-vertical+1);
    }
}

.@{ns}btn-group-sm {
    &.@{ns}btn-group.@{ns}open .@{ns}dropdown-toggle.@{ns}btn:hover {
        padding-bottom: (@padding-small-vertical+1);
    }
}

.@{ns}btn-group-xs {
    &.@{ns}btn-group.@{ns}open .@{ns}dropdown-toggle.@{ns}btn:hover {
        padding-bottom: (@padding-xs-vertical+1);
    }
}
