// Kill the scroll on the body
.@{ns}drawer-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.@{ns}drawer {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: @zindex-drawer;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .drawer-dialog {
    .drawer-animation(cubic-bezier(0.4, 0, 1, 1)); //Fast out
    // IE hack
    .ie-display-none;
  }

  &.in .drawer-dialog {
    .drawer-animation(ease-in-out);
  }

  // Scale up the drawers
  &.@{ns}drawer-left,
  &.@{ns}drawer-right {
    top: 0;

    &.@{ns}drawer-lg {
      .drawer-content-width(@drawer-horizontal-lg);
    }

    &.@{ns}drawer-md {
      .drawer-content-width(@drawer-horizontal-md);
    }

    &.@{ns}drawer-sm {
      .drawer-content-width(@drawer-horizontal-sm);
    }

    &.@{ns}drawer-xs {
      .drawer-content-width(@drawer-horizontal-xs);
    }
  }

  &.@{ns}drawer-top,
  &.@{ns}drawer-bottom {
    &.@{ns}drawer-lg {
      .drawer-content-height(@drawer-vertical-lg);
    }

    &.@{ns}drawer-md {
      .drawer-content-height(@drawer-vertical-md);
    }

    &.@{ns}drawer-sm {
      .drawer-content-height(@drawer-vertical-sm);
    }

    &.@{ns}drawer-xs {
      .drawer-content-height(@drawer-vertical-xs);
    }
  }

  // Full page
  &.drawer-full {
    @max-width: ~"calc(100% - @{drawer-full-size-margin})";
    @max-height: @max-width;

    &.@{ns}drawer-top,
    &.@{ns}drawer-bottom {
      .drawer-content-height(@max-height);

      .drawer-content {
        height: 100%;
      }
    }

    &.@{ns}drawer-left,
    &.@{ns}drawer-right {
      .drawer-content-width(@max-width);
    }
  }

  // Drawer directions
  &-right {
    .drawer-animation-setting(drawerMoveInRight, drawerMoveOutRight);

    right: 0;

    .drawer-dialog {
      right: 0;
      height: 100%;
    }
  }

  &-left {
    .drawer-animation-setting(drawerMoveInLeft, drawerMoveOutLeft);

    left: 0;

    .drawer-dialog {
      height: 100%;
      left: 0;
    }
  }

  &-top {
    .drawer-animation-setting(drawerMoveInTop, drawerMoveOutTop);

    .drawer-dialog {
      width: 100%;
      top: 0;
    }
  }

  &-bottom {
    .drawer-animation-setting(drawerMoveInBottom, drawerMoveOutBottom);

    .drawer-dialog {
      width: 100%;
      height: 200px;
      bottom: 0;
    }
  }
}

.drawer-open .drawer {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.drawer-dialog {
  position: fixed;
  z-index: @zindex-drawer;
}

// Actual modal
.drawer-content {
  position: absolute;
  background-color: @drawer-content-bg;
  outline: 0;
  width: 100%;
  height: 100%;
  box-shadow: @drawer-box-shadow;
}

// Drawer background
.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-drawer-background;
  background-color: @drawer-backdrop-bg;
  // Fade for backdrop
  &.fade {
    .opacity(0);
  }

  &.in {
    .opacity(@drawer-backdrop-opacity);
  }
}

// Drawer body
.drawer-body {
  position: relative;
  margin: @drawer-body-margin @drawer-content-spacing;
  // Javascript handle height
  overflow: scroll;
}

// Measure scrollbar width for padding body during modal show/hide
.drawer-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Drawer header
// Top section of the modal title.
.@{ns}drawer-header {
  &:extend(.clearfix all);

  padding-right: @line-height-computed;
  position: relative;
  margin: @drawer-content-spacing @drawer-content-spacing 0;

  .@{ns}drawer-title {
    width: 100%;
    display: block;
    .ellipsis;
  }
}

// Close Button
.@{ns}drawer-header .@{ns}drawer-header-close {
  // button width the same to height
  @padding-right: (@line-height-computed - @drawer-close-btn-size)/2;

  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: @drawer-close-btn-size;
  line-height: @drawer-close-btn-line-height;
  color: @drawer-close-btn-color;
  width: @line-height-computed;
  padding: 0 @padding-right;

  &::before {
    content: @alert-close-button-content;
  }

  [aria-hidden] {
    display: none;
  }
}

// Title text within header
.@{ns}drawer-header .title {
  margin: 0;
  color: @text-primary-color;
  font-size: @modal-title-font-size;
  line-height: @modal-title-line-height;
}

// Footer (for actions)
.@{ns}drawer-footer {
  &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

  text-align: right; // right align buttons
  border-top: none;
  margin: 0 @drawer-content-spacing @drawer-content-spacing;

  // Properly space out buttons
  .btn + .btn {
    margin-left: 10px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}
