// Kill the scroll on the body
.@{ns}drawer-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.@{ns}drawer {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-drawer;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .drawer-dialog {
    display: ~"none\9\0";
    //Fast out
    .drawer-animation(cubic-bezier(0.4, 0, 1, 1));
  }

  &.in .drawer-dialog {
    .drawer-animation(ease-in-out);
  }

  // Scale up the drawers
  &.@{ns}drawer-lg {
    .drawer-content-width(@drawer-lg);
  }

  &.@{ns}drawer-md {
    .drawer-content-width(@drawer-md);
  }

  &.@{ns}drawer-sm {
    .drawer-content-width(@drawer-sm);
  }

  &.@{ns}drawer-xs {
    .drawer-content-width(@drawer-xs);
  }

  // Drawer direction
  &.@{ns}drawer-top,
  &.@{ns}drawer-bottom {
    .drawer-content-width(100%);

    //Reset height to auto
    .drawer-content {
      height: auto;
    }
  }

  // Full page
  &.drawer-full {
    @max-width: ~"calc(100% - @{drawer-full-size-margin})";
    @max-height: @max-width;

    &.@{ns}drawer-top,
    &.@{ns}drawer-bottom {
      .drawer-content-height(@max-height);

      .drawer-content {
        height: 100%;
      }
    }

    &.@{ns}drawer-left,
    &.@{ns}drawer-right {
      .drawer-content-width(@max-width);
    }
  }

  // Drawer directions
  &-right {
    .drawer-animation-setting(drawerMoveInRight, drawerMoveOutRight);

    .drawer-dialog {
      height: 100%;
      right: 0;
    }
  }

  &-left {
    .drawer-animation-setting(drawerMoveInLeft, drawerMoveOutLeft);

    .drawer-dialog {
      height: 100%;
      left: 0;
    }
  }

  &-top {
    .drawer-animation-setting(drawerMoveInTop, drawerMoveOutTop);

    .drawer-dialog {
      width: 100%;
      top: 0;
    }
  }

  &-bottom {
    .drawer-animation-setting(drawerMoveInBottom, drawerMoveOutBottom);

    .drawer-dialog {
      width: 100%;
      height: 200px;
      bottom: 0;
    }
  }
}

.drawer-open .drawer {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.drawer-dialog {
  position: fixed;
  z-index: @zindex-drawer;
}

// Actual modal
.drawer-content {
  position: absolute;
  background-color: @drawer-content-bg;
  outline: 0;
  width: 100%;
  height: 100%;
  box-shadow: @drawer-box-shadow;
}

// Modal background
.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-drawer-background;
  background-color: @drawer-backdrop-bg;
  // Fade for backdrop
  &.fade {
    .opacity(0);
  }

  &.in {
    .opacity(@drawer-backdrop-opacity);
  }
}

// Modal body
// Where all modal content resides (sibling of .drawer-header and .drawer-footer)
.drawer-body {
  position: relative;
}

// Measure scrollbar width for padding body during modal show/hide
.drawer-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

