//
// Messages
// --------------------------------------------------

// Base styles
// -------------------------

.@{ns}message {
    padding: 20px;
    border-radius: @message-border-radius;
    font-size: @font-size-base;
    line-height: @line-height-base;
    position: relative;

    // Multiple messages should have clearance
    + .@{ns}message {
        margin-top: 10px;
    }

    // Only has icon
    &.@{ns}message-has-icon {
        padding-left: @message-padding + @message-icon-size + @message-icon-margin-right;
    }

    // Only has title
    &.@{ns}message-has-title {
        h5 {
            margin-top: 0;
            margin-bottom: 0;
            .ellipsis;

            // When title and description all exist , additional a margin
            & + .message-description {
                margin-top: 8px;
            }
        }
    }

    // Bigger icon
    &.@{ns}message-has-icon.@{ns}message-has-title {
        padding-left: @message-padding + @message-icon-large-size + @message-icon-margin-right;

        > .@{ns}message-icon-wrapper {

        }

        > .@{ns}message-icon-wrapper .icon {
            font-size: @message-icon-large-size;
            line-height: 1;
        }
    }

    // Title
    h5 {
        color: @B900;
        line-height: unit(round(@message-icon-large-size/@message-title-size, 16));
    }

    // Description
    .message-description {
        color: @B800;
    }

    // Icon wrapper
    > .@{ns}message-icon-wrapper {
        position: absolute;
        top: @message-padding;
        left: @message-padding;
        line-height: 1;

        .icon {
            font-size: @message-icon-size;
            line-height: @line-height-small;
        }
    }

    // Close button
    > .@{ns}message-btn-close {
        background: transparent;
        position: absolute;
        padding: 0;
        top: 8px;
        right: 8px;
        font-size: @message-close-btn-size;
        line-height: 1;
    }
}

// All the containers
.@{ns}message-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.@{ns}message-success {
    .message-variant(@message-success-bg; @message-success-icon-color);
}

.@{ns}message-info {
    .message-variant(@message-info-bg; @message-info-icon-color);
}

.@{ns}message-warning {
    .message-variant(@message-warning-bg; @message-warning-icon-color);
}

.@{ns}message-error {
    .message-variant(@message-error-bg; @message-error-icon-color);
}
