//
// Navs
// --------------------------------------------------

// Base class
// --------------------------------------------------
.@{ns}nav {
  list-style: none;
  margin: 0;
  padding: 0;

  // Nav item
  & > &-item {

    // Nav item content
    > .@{ns}nav-item-content {
      padding: @nav-item-padding-vertical @nav-item-padding-horizontal;
      font-size: @nav-item-font-size;
      line-height: @nav-item-line-height;
      display: block;
      cursor: pointer;
      color: @nav-item-font-default-color;
      transition: @nav-item-transition;

      &:hover,
      &:focus {
        color: @nav-item-hover-font-color;
      }

      &:active {
        color: @nav-item-click-font-color;
      }
    }

    // reset link style
    > a.@{ns}nav-item-content:hover,
    > a.@{ns}nav-item-content:active,
    > a.@{ns}nav-item-content:focus {
      text-decoration: none;
    }

    > .@{ns}nav-dropdown-toggle {
      height: @nav-base-height;
    }
  }

  // Nav dropdown
  & > &-dropdown {
    //rest drop down color
    > .@{ns}nav-dropdown-toggle {
      color: @nav-item-font-default-color;
      background: transparent;
      transition: @nav-item-transition;

      &:hover,
      &:focus {
        color: @nav-item-hover-font-color;
        background-color: @nav-item-default-hover-bg;
      }

      &:active {
        color: @nav-item-click-font-color;
        background-color: @nav-item-click-bg;
      }
    }

    &.@{ns}dropdown-open .@{ns}nav-dropdown-toggle {
      color: @nav-item-click-font-color;
      background: @nav-item-click-bg;
    }
  }

  // Active
  .@{ns}nav-item-active > .@{ns}nav-item-content {
    &,
    &:hover,
    &:focus,
    &:active {
      color: @nav-item-active-font-color;
      background: transparent;
    }
  }

  // Orientation
  &.@{ns}nav-horizontal {
    .clearfix;

    .@{ns}nav-item {
      float: left;
    }

    // margin space
    > .@{ns}nav-dropdown:not(:first-child),
    > .@{ns}nav-item:not(:first-child) {
      margin-left: @nav-item-spacing;
    }
  }

  &.@{ns}nav-vertical {
    // margin space
    > .@{ns}nav-dropdown:not(:first-child),
    > .@{ns}nav-item:not(:first-child) {
      margin-top: @nav-item-spacing;
    }
  }
}

// Alternate Navs
// --------------------------------------------------

// Default Nav
.@{ns}nav-default {
  > .@{ns}nav-item > .@{ns}nav-item-content {
    border-radius: @nav-item-border-radius;

    &:hover,
    &:focus {
      background: @nav-item-default-hover-bg;
    }

    &:active {
      background: @nav-item-click-bg;
    }
  }
}

// Tab Nav
.@{ns}nav-tabs {
  .@{ns}nav-item > .@{ns}nav-item-content {

  }
}

// Subtle Nav
.@{ns}nav-subtle {
  .@{ns}nav-item > .@{ns}nav-item-content {

  }
}
