//
// Navs
// --------------------------------------------------

// Base class
// --------------------------------------------------
.@{ns}nav {
  position: relative;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Nav item
  &-item {
    //:hover :focus :active
    &:not(.@{ns}nav-item-disabled) > .@{ns}nav-item-content {
      &:hover,
      &:focus {
        color: @nav-item-hover-font-color;
      }

      &:active {
        color: @nav-item-click-font-color;
      }
    }

    &.@{ns}nav-item-disabled {
      opacity: .3;
    }

    // Nav item content
    > .@{ns}nav-item-content {
      padding: @nav-item-padding-vertical @nav-item-padding-horizontal;
      font-size: @nav-item-font-size;
      line-height: @nav-item-line-height;
      display: block;
      cursor: pointer;
      color: @nav-item-font-default-color;
      transition: @nav-item-transition;

      > .icon {
        margin-right: @nav-item-icon-spacing;
      }
    }

    // reset link style
    > a.@{ns}nav-item-content:hover,
    > a.@{ns}nav-item-content:active,
    > a.@{ns}nav-item-content:focus {
      text-decoration: none;
    }
  }

  // Rest dropdown height
  .@{ns}dropdown > .@{ns}dropdown-toggle {
    height: @nav-base-height;
  }

  // Active
  .dropdown .dropdown-menu-active ~ .dropdown-toggle,
  .@{ns}nav-item-active > .@{ns}nav-item-content {
    position: relative;
    z-index: 1;

    &,
    &:hover,
    &:focus,
    &:active {
      color: @nav-item-active-font-color;
      background: transparent;
    }
  }

  // Orientation
  &.@{ns}nav-horizontal {
    .clearfix;

    // Justified
    &.@{ns}nav-justified {
      .@{ns}nav-item,
      .@{ns}dropdown {
        float: none;
        display: table-cell;
        width: 1%;
      }

      .dropdown .dropdown-toggle {
        width: 100%;
        text-align: left;
      }
    }

    .@{ns}nav-item {
      float: left;
    }

    // margin space
    ul > .@{ns}dropdown:not(:first-child),
    ul > .@{ns}nav-item:not(:first-child) {
      margin-left: @nav-item-spacing;
    }

    // Waterline
    .@{ns}nav-waterline {
      position: absolute;
      bottom: 0;
      width: 100%;

      //** Reversed
      .@{ns}nav-reversed& {
        bottom: auto;
      }
    }
  }

  &.@{ns}nav-vertical {
    // margin space
    ul > .@{ns}dropdown:not(:first-child),
    ul > .@{ns}nav-item:not(:first-child) {
      margin-top: @nav-item-spacing;
    }

    .@{ns}dropdown {
      width: 100%;

      > .@{ns}dropdown-toggle {
        width: 100%;
        text-align: left;
        z-index: 0;
      }
    }

    // Waterline
    .@{ns}nav-waterline {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      .@{ns}nav-reversed& {
        right: auto;
      }
    }
  }

  // Ripple
  .@{ns}nav-default &-item-content,
  .@{ns}nav-tabs &-item-content {
    .button-ripple;
  }
}

// Alternate Navs
// --------------------------------------------------

// Default Nav
.@{ns}nav-default {
  .@{ns}nav-item:not(.nav-item-active):not(.@{ns}nav-item-disabled) > .@{ns}nav-item-content {
    border-radius: @nav-item-border-radius;

    &:hover,
    &:focus {
      background: @nav-item-default-hover-bg;
    }

    &:active {
      background: @nav-item-click-bg;
    }
  }
}

// Tab Nav
.@{ns}nav-tabs {
  //Default style
  .@{ns}nav-item > .@{ns}nav-item-content {
    background-color: @nav-tab-default-bg;
  }

  //:hover :active :focus
  .@{ns}nav-item:not(.@{ns}nav-item-active):not(.@{ns}nav-item-disabled) > .@{ns}nav-item-content {
    &:hover,
    &:focus {
      background: @nav-item-default-hover-bg;
    }

    &:active {
      background: @nav-item-click-bg;
    }
  }

  //** Active
  .@{ns}nav-item.@{ns}nav-item-active > .@{ns}nav-item-content {
    @padding-vertical: @nav-item-padding-vertical - @nav-tab-waterline-width;
    @padding-horizontal: @nav-item-padding-horizontal - @nav-tab-waterline-width;

    padding: @padding-vertical @padding-horizontal;
  }

  // Horizontal
  &.@{ns}nav-horizontal {
    //Nav content
    .@{ns}nav-item > .@{ns}nav-item-content {
      border-radius: @nav-item-border-radius @nav-item-border-radius 0 0;

      .@{ns}nav-reversed& {
        border-radius: 0 0 @nav-item-border-radius @nav-item-border-radius;
      }
    }

    //** Waterline
    .@{ns}nav-waterline {
      border-top: @nav-tab-waterline;
    }

    //** Active
    .@{ns}nav-item.@{ns}nav-item-active > .@{ns}nav-item-content {
      border: @nav-tab-waterline-width solid @nav-tab-waterline-color;
      border-bottom-color: @nav-tab-default-bg;

      // Reversed
      .@{ns}nav-reversed& {
        border-bottom-color: @nav-tab-waterline-color;
        border-top-color: @nav-tab-default-bg;
      }
    }
  }

  // Vertical
  &.@{ns}nav-vertical {
    //Nav content
    .@{ns}dropdown > .@{ns}dropdown-toggle,
    .@{ns}nav-item > .@{ns}nav-item-content {
      border-radius: @nav-item-border-radius 0 0 @nav-item-border-radius;

      .@{ns}nav-reversed& {
        border-radius: 0 @nav-item-border-radius @nav-item-border-radius 0;
      }
    }

    //** Waterline
    .@{ns}nav-waterline {
      width: @nav-tab-waterline-width;
      background: @nav-tab-waterline-color;
    }

    //** Active
    .@{ns}nav-item.@{ns}nav-item-active > .@{ns}nav-item-content {
      border: @nav-tab-waterline-width solid @nav-tab-waterline-color;
      border-right-color: @nav-tab-default-bg;

      // Reversed
      .@{ns}nav-reversed& {
        border-left-color: @nav-tab-default-bg;
        border-right-color: @nav-tab-waterline-color;
      }
    }
  }
}

// Subtle Nav
.@{ns}nav-subtle {
  // Horizontal
  &.@{ns}nav-horizontal {
    //Waterline
    .@{ns}nav-waterline {
      border-top: @nav-subtle-default-waterline;
    }

    // Active item
    .@{ns}nav-item.@{ns}nav-item-active > .@{ns}nav-item-content {
      @active-padding-spacing: @nav-item-padding-vertical - @nav-subtle-waterline-width;

      border-bottom: @nav-subtle-waterline-width solid @nav-subtle-waterline-active-color;
      padding-bottom: @active-padding-spacing;

      // Reversed
      .@{ns}nav-reversed& {
        border-bottom: none;
        border-top: @nav-subtle-waterline-width solid @nav-subtle-waterline-active-color;
        padding-top: @active-padding-spacing;
      }
    }
  }

  // Horizontal
  &.@{ns}nav-vertical {
    //Waterline
    .@{ns}nav-waterline {
      width: @nav-subtle-waterline-width;
      background: @nav-subtle-waterline-default-color;
    }

    // Active item
    .@{ns}nav-item.@{ns}nav-item-active > .@{ns}nav-item-content {
      @active-padding-spacing: @nav-item-padding-horizontal - @nav-subtle-waterline-width;

      border-right: @nav-subtle-waterline-width solid @nav-subtle-waterline-active-color;
      padding-right: @active-padding-spacing;

      // Reversed
      .@{ns}nav-reversed& {
        border-right: none;
        border-left: @nav-subtle-waterline-width solid @nav-subtle-waterline-active-color;
        padding-left: @active-padding-spacing;
      }
    }
  }
}

// NavBar
// --------------------------------------------------

.@{ns}navbar {
  .clearfix;
}

.@{ns}navbar-header {
  float: left;
  display: inline-block;
  height: @nav-bar-height;
}

.@{ns}navbar-brand {
  display: inline-block;

  a&,
  a&:hover,
  a&:focus,
  a&:active {
    text-decoration: none;
  }
}

// Common
.@{ns}navbar-nav {
  float: left;

  &.@{ns}navbar-right {
    float: right;
  }

  // Nav item content
  .@{ns}nav-item > .@{ns}nav-item-content {
    // Reset padding
    padding: @nav-bar-padding-vertical @nav-bar-padding-horizontal;
    height: @nav-bar-height;
  }

  // Reset border-radius
  .@{ns}nav-item:not(.nav-item-active):not(.nav-item-disabled) > .@{ns}nav-item-content,
  .dropdown > .dropdown-toggle {
    border-radius: 0;
  }

  // DropDown
  .dropdown > .dropdown-toggle {
    padding: @nav-bar-padding-vertical @nav-bar-padding-horizontal;
    padding-right: @nav-bar-padding-horizontal+@dropdown-caret-with+@dropdown-caret-padding;
    height: @nav-bar-height;
  }

  .dropdown-toggle-caret {
    top: @nav-bar-padding-vertical;
    right: @nav-bar-padding-horizontal;
  }

  .dropdown.dropdown-open > .dropdown-menu {
    top: @nav-bar-padding-vertical * 2 + @line-height-computed;
  }
}

// Default Navbar
.@{ns}navbar.@{ns}navbar-default {
  background-color: @nav-bar-default-bg;

  //font-color
  &,
  & .navbar-header a {
    color: @nav-bar-default-font-color;
  }

  .dropdown .dropdown-toggle,
  .@{ns}nav-item > .@{ns}nav-item-content {
    .font-color(@nav-bar-default-font-color);
  }
}

// Inverse Navbar
.@{ns}navbar.@{ns}navbar-inverse {
  background-color: @nav-bar-inverse-bg;

  //font-color
  &,
  & .navbar-header a {
    color: @nav-bar-inverse-font-color;
  }

  .dropdown .dropdown-menu-active ~ .dropdown-toggle,
  .dropdown .dropdown-toggle,
  .@{ns}nav-item-active > .@{ns}nav-item-content,
  .@{ns}nav-item > .@{ns}nav-item-content {
    .font-color(@nav-bar-inverse-font-color);
  }

  .@{ns}nav-item-active > .@{ns}nav-item-content,
  .dropdown .dropdown-menu-active ~ .dropdown-toggle {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: @nav-bar-inverse-active-bg;
    }
  }

  .navbar-nav .nav-item > .nav-item-content,
  .navbar-nav .dropdown .dropdown-toggle {
    &:hover,
    &:focus {
      background-color: @nav-bar-inverse-hover-bg;
    }

    &:active {
      background-color: @nav-bar-inverse-active-bg;
    }
  }
}

// Subtle Navbar
.@{ns}navbar.@{ns}navbar-subtle {
  background-color: @nav-bar-subtle-bg;

  //font-color
  &,
  & .navbar-header a {
    color: @nav-bar-subtle-font-color;
  }

  .dropdown .dropdown-menu-active ~ .dropdown-toggle,
  .dropdown .dropdown-toggle,
  .@{ns}nav-item > .@{ns}nav-item-content {
    .font-color(@nav-bar-subtle-font-color);
  }

  .navbar-nav .nav-item > .nav-item-content,
  .navbar-nav .dropdown .dropdown-toggle {
    &:hover,
    &:focus {
      background-color: @nav-bar-subtle-hover-bg;
      color: @nav-bar-subtle-hover-font-color;
    }

    &:active {
      background-color: @nav-bar-subtle-active-bg;
      color: @nav-bar-subtle-active-font-color;
    }
  }
}
