//
// Panels
// --------------------------------------------------

.@{ns}panel {
  border-radius: @border-radius-base;
  box-shadow: black;

  &-heading,
  &-body {
    padding: @panel-padding;
  }

  &-heading {
    color: @panel-heading-color;
  }

  &-title {
    font-size: @panel-title-font-size;
    line-height: unit(@line-height-computed/@panel-title-font-size);
    margin: 0;

    a {
      color: @panel-heading-color;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  // Adjust the padding value when the head and body are combined.
  &-heading + &-collapse &-body,
  &-heading + &-body {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  // The first panel and the last panel in a panel group need set border-radius.
  &-group {
    border-radius: @border-radius-base;
    overflow: hidden;
  }

  // Draw a split line for panel
  &-group & + & {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      border-top: 1px solid @panel-split-line-color;
      left: @panel-padding;
      right: @panel-padding;
    }
  }

  // Accordion group panel heading hover background
  &-group-accordion &-heading {
    cursor: pointer;
    transition: @panel-accodion-transition;
    transition-property: background-color, border-radius;
    position: relative;

    &::before {
      position: absolute;
      font-family: @font-family-icon;
      content: @panel-heading-accordion-icon-content;
      top: @panel-padding;
      right: @panel-padding;
      transition: @panel-accodion-transition;
      transition-property: transform;
    }

    &:hover {
      background-color: @panel-group-panel-heading-hover-background;
    }
  }

  &-in &-heading::before {
    transform: rotate(180deg);
  }
}
