//
// Panels
// --------------------------------------------------

.@{ns}panel {
  border-radius: @border-radius-base;
  box-shadow: black;

  &-heading,
  &-body {
    padding: @panel-padding;
  }

  &-title {
    font-size: @panel-title-font-size;
    line-height: unit(@line-height-computed/@panel-title-font-size);
    margin: 0;

    a {
      color: @B900;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  // Adjust the padding value when the head and body are combined.
  &-heading + &-collapse &-body,
  &-heading + &-body {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  // The first panel and the last panel in a panel group need set border-radius.
  &-group {
    border-radius: @border-radius-base;
    overflow: hidden;
  }

  // Draw a split line for panel
  &-group & + & {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      border-top: 1px solid @panel-split-line-color;
      left: @panel-padding;
      right: @panel-padding;
    }
  }

  // Group panel heading hover background
  &-group &-heading {
    cursor: pointer;
    transition: .3s linear background-color;

    &:hover {
      background-color: @panel-group-panel-heading-hover-background;
    }
  }
}
