//
// Pickers
// --------------------------------------------------

// Common styles
// ----------------------
.@{tns}picker-select {
  display: inline-block;
}

// Disabled
.@{tns}picker-check-disabled,
.@{tns}picker-select-disabled,
.@{tns}picker-cascader-disabled {
  cursor: @cursor-disabled;
  opacity: .3;

  .@{tns}picker-toggle {
    cursor: @cursor-disabled;

    &,
    &:hover,
    &:focus,
    &:active,
    &:hover:active {
      background: none;

      &::after {
        display: none;
      }
    }
  }
}

//## Dropdown toggle
// The Same to Dropdown toggle
.@{tns}picker-toggle {
  .btn;
  .btn-subtle;
  .dropdown-toggle;

  // Has value highlight
  .@{tns}picker-select-has-value &,
  .@{tns}picker-cascader-has-value & {
    .@{tns}picker-toggle-value {
      color: @picker-selected-value-color;
    }
  }

  &:hover .@{tns}picker-toggle-clean {
    opacity: 1;
    transform: scale(1);
  }
}

// Picker clean button
.@{tns}picker-toggle-clean {
  .dropdown-toggle-caret;

  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: transform, opacity;
  // Hidden "X" symbol
  //text-indent: -12px;
  //overflow: hidden;
  opacity: 0;
  transform: scale(0);
  background: inherit;

  // Setting "X" symbol
  //&::after {
  //  //font-family: @font-family-icon !important;
  //  //content: "✕";
  //}
}

// Picker toggle caret
.@{tns}picker-toggle-caret {
  // Extend  Dropdown toggle caret style
  .dropdown-toggle-caret-common;
  .set-dropdown-caret(~"@{tns}picker");
}

// Picker Menu
.@{tns}picker-menu {
  position: absolute;
  text-align: left;
  z-index: @zindex-dropdown;
  border-radius: @border-radius-base;
  background-color: @picker-bg;
  box-shadow: @picker-shadow;

  // Searchbar
  .@{tns}picker-search-bar {
    //display: inline-block;
    padding: @picker-menu-padding;

    .@{tns}picker-search-bar-input {
      .form-control;

      min-width: @picker-content-min-width;
    }
  }

  // Animation
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(.23, 1, .32, 1);
  animation-fill-mode: both;
  animation-play-state: paused;

  &.in {
    animation-play-state: running;

    &.@{tns}picker-placement-top-left,
    &.@{tns}picker-placement-top-right {
      animation-name: slideDownIn;
    }

    &.@{tns}picker-placement-left-top,
    &.@{tns}picker-placement-left-bottom {
      animation-name: slideRightIn;
    }

    &.@{tns}picker-placement-right-top,
    &.@{tns}picker-placement-right-bottom {
      animation-name: slideLeftIn;
    }

    &.@{tns}picker-placement-bottom-left,
    &.@{tns}picker-placement-bottom-right {
      animation-name: slideUpIn;
    }
  }
}

// Select Picker
// ----------------------
// Menu Items
.@{tns}picker-select-menu-items {
  .picker-menu-items;
  .picker-menu-group-common(@select-picker-prefix);
  .picker-menu-group-title(@select-picker-prefix);
  .picker-menu-group-closed(@select-picker-prefix);
}

// Menu item
.@{tns}picker-select-menu-item {
  display: block;
  padding: @picker-item-content-padding-vertical @picker-item-content-padding-horizontal;
  clear: both;
  font-weight: normal;
  line-height: @line-height-base;
  color: @picker-select-item-color;
  cursor: pointer; //fixed link has not [href] style
  transition: @picker-item-transition;
  text-decoration: none;
  max-width: @picker-content-max-width;
  // Forcing a newline
  .break-word;

  &:not(.@{tns}picker-check-menu-item-disabled):hover,
  &.@{tns}picker-select-menu-item-focus {
    .picker-item-hover;

    text-decoration: none;
  }

  &.@{tns}picker-select-menu-item-active {
    color: @picker-select-menu-item-selected-color;
    background-color: @picker-select-menu-item-selected-bg;
  }

  &.@{tns}picker-select-menu-item-disabled {
    color: @picker-menu-item-disabled-color;
    cursor: @cursor-disabled;
  }

  .@{tns}picker-select-menu-group-children & {
    padding-left: @picker-group-children-padding-left;
  }
}

// Check Picker
// ----------------------
// Menu Items
.@{tns}picker-check-menu-items {
  .picker-menu-items;
  .picker-menu-group-common(@check-picker-prefix);
  .picker-menu-group-title(@check-picker-prefix);
  .picker-menu-group-closed(@check-picker-prefix);
}

// Menu item
.@{tns}picker-check-menu-item {
  position: relative;
  display: block;
  padding: @picker-item-content-padding-vertical @picker-item-content-padding-horizontal @picker-item-content-padding-vertical @picker-check-item-content-padding-left;
  max-width: @picker-content-max-width;
  transition: @picker-item-transition;
  cursor: pointer;
  // Reset label styles
  margin-bottom: 0;

  // Forcing a newline
  .break-word;

  &:not(.@{tns}picker-check-menu-item-disabled):hover,
  &.@{tns}picker-check-menu-item-focus {
    .picker-item-hover;
  }

  &.@{tns}picker-check-menu-item-disabled {
    color: @picker-menu-item-disabled-color;
    cursor: @cursor-disabled;
  }
}

// Checkbox
.@{tns}picker-check-menu-item-wrapper {
  position: absolute;
  width: @checkbox-width-height;
  height: @checkbox-width-height;
  display: inline-block;
  left: @checkbox-sense-width;
  top: @checkbox-sense-width;

  [type="checkbox"] {
    display: none;
  }

  &::before,
  &::after,
  .@{tns}picker-check-menu-item-inner::before,
  .@{tns}picker-check-menu-item-inner::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }

  &::before,
  .@{tns}picker-check-menu-item-inner::before,
  .@{tns}picker-check-menu-item-inner::after {
    width: @checkbox-width-height;
    height: @checkbox-width-height;
  }

  // 涟漪效果外框
  &::before {
    .checkbox-inner-wrap(@checkbox-checked-border-color);

    transform: scale(1);
    opacity: .7;
    visibility: hidden;
    transition: transform .2s linear, opacity .2s linear;

    .@{tns}picker-check-menu-item-active & {
      transform: scale(1.5);
      opacity: 0;
      visibility: visible;
    }
  }

  //感知区域
  &::after {
    top: -@checkbox-sense-width;
    right: -@checkbox-sense-width;
    bottom: -@checkbox-sense-width;
    left: -@checkbox-sense-width;
  }

  //外框
  .@{tns}picker-check-menu-item-inner::before {
    .checkbox-inner-wrap(@checkbox-default-border-color);

    transition: background .2s linear, border .2s linear, box-shadow .2s linear;

    .@{tns}picker-check-menu-item-active & {
      border-color: @checkbox-checked-border-color;
      background-color: @checkbox-checked-border-color;
    }

    .@{tns}picker-check-menu-item-disabled:not(.@{tns}picker-check-menu-item-active) & {
      border-color: @checkbox-disabled-color;
      background-color: @checkbox-disabled-color;
    }

    .@{tns}picker-check-menu-item-disabled.@{tns}picker-check-menu-item-active & {
      opacity: .3;
    }
  }

  //对钩
  .@{tns}picker-check-menu-item-inner::after {
    .opacity(0);

    transform: rotate(45deg) scale(0);
    transition: opacity .2s ease-in, transform .2s cubic-bezier(.12, .4, .29, 1.46);

    .@{tns}picker-check-menu-item-active & {
      border: solid @B000;
      width: 6px;
      height: 9px;
      margin-top: 2px;
      margin-left: 5px;
      opacity: 1;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(1);
    }

    .@{tns}picker-check-menu-item-active & {

    }
  }

  //聚焦
  &:focus {
    outline: none;

    .@{tns}picker-check-menu-item-inner::before {
      .checkbox-inner-active-shadow(@checkbox-default-border-color);

      @hover: ~":hover";
      @{hover}& {
        .checkbox-inner-active-shadow(@checkbox-checked-border-color);
      }

      .@{ns}checkbox-checked & {
        .checkbox-inner-active-shadow(@checkbox-checked-border-color);
      }
    }
  }
}

// Cascader
// ----------------------
.@{tns}picker-cascader-menu-items > div {
  .clearfix;
}

// Column menu
.@{tns}picker-cascader-menu-items-column-menu {
  float: left;
  overflow-y: auto;
  animation: .3s linear slideLeftIn;
}

// Menu Items
.@{tns}picker-cascader-menu-items {
  padding: @border-radius-base 0;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

// Menu item
.@{tns}picker-cascader-menu-item {
  position: relative;
  display: block;
  padding: @picker-item-content-padding-vertical @picker-item-content-padding-horizontal;
  max-width: @picker-content-max-width;
  transition: @picker-item-transition;
  cursor: pointer;
  text-decoration: none;
  color: @picker-select-item-color;

  // Has children
  .@{tns}picker-cascader-menu-items-has-children & {
    padding-right: @dropdown-toggle-padding-right;
  }

  &:not(.@{tns}picker-cascader-menu-item-disabled):hover,
  &:not(.@{tns}picker-cascader-menu-item-disabled):focus,
  &.@{tns}picker-select-menu-item-focus {
    .picker-item-hover;

    text-decoration: none;
  }

  &.@{tns}picker-cascader-menu-item-focus,
  &.@{tns}picker-cascader-menu-item-active {
    &,
    &:hover,
    &:focus,
    &:hover:focus {
      color: @picker-select-menu-item-selected-color;
      background-color: @picker-select-menu-item-selected-bg;
    }
  }

  &.@{tns}picker-cascader-menu-item-disabled {
    color: @picker-menu-item-disabled-color;
    text-decoration: none;
    cursor: @cursor-disabled;
  }
}

// Menu Items Caret
.@{tns}picker-cascader-menu-items-caret {
  .dropdown-toggle-caret-common;

  &::before {
    content: @dropright-caret-content;
  }
}
