.@{ns}rsuite-progress {
  font-size: @progress-font-size;
  line-height: unit(@line-height-computed/@progress-font-size);
}

.@{ns}progress-circle {
  position: relative;
  font-size: 0;

  .@{ns}progress-circle-info {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: @progress-font-size;
    line-height: unit(@line-height-computed/@progress-font-size);
    height: @line-height-computed;
    color: @progress-info-text-color;
  }

  .@{ns}progress-trail {
    stroke: @progress-bar-bg;
    transition: stroke-dashoffset .3s ease, stroke-dasharray .3s ease, stroke .3s;
  }

  .@{ns}progress-stroke {
    stroke: @progress-bar-fill-bg;
    transition: stroke-dashoffset .3s ease, stroke-dasharray .3s ease, stroke .3s, stroke-width .06s ease .3s;
  }
}

.@{ns}progress-line {
  display: table;
  table-layout: fixed;
  width: 100%;

  // Setting status color
  &-success {
    color: @prgress-status-success-color !important;
  }

  &-success &-bg {
    background-color: @prgress-status-success-color !important;;
  }

  &-fail {
    color: @prgress-status-fail-color !important;;
  }

  &-fail &-bg {
    background-color: @prgress-status-fail-color !important;;
  }

  &-outer,
  .@{ns}progress-info {
    display: table-cell;
  }

  .@{ns}progress-info {
    width: 50px;
    padding-left: @progress-element-gap;
    text-align: right;
  }

  .@{ns}progress-icon-success,
  .@{ns}progress-icon-fail {
    display: inline-block;
    font-family: @font-family-icon;
  }

  .@{ns}progress-icon-success {
    &::before {
      content: @icon-check-circle;
    }
  }

  .@{ns}progress-icon-fail {
    &::before {
      content: @icon-close-circle;
    }
  }

  &-outer {
    border-radius: @progress-bar-height/2;
    overflow: hidden;
  }

  &-inner {
    background: @progress-bar-bg;
    border-radius: @progress-bar-height/2;
  }

  &-bg {
    background-color: @progress-bar-fill-bg;
    border-radius: @progress-bar-height/2;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    transition-property: width, color;
  }

  &-inner,
  &-bg {
    height: @progress-bar-height;
  }
}
