.@{ns}rsuite-progress {
  font-size: @progress-font-size;
  line-height: unit(@line-height-computed/@progress-font-size);

  .@{ns}rsuite-progress-line-path {
    stroke: @progress-bar-color;
  }

  .@{ns}rsuite-progress-line-trail {
    background: @progress-bar-bg;
  }
}

.@{ns}rsuite-progress-circle {
  .@{ns}rsuite-progress-circle-path {
    stroke: @progress-bar-color;
  }

  .@{ns}rsuite-progress-circle-trail {
    background: @progress-bar-bg;
  }
}
