//
// Sidenavs
// --------------------------------------------------

// Base class
// --------------------------------------------------
.@{ns}sidenav {
  transition: width @sidenav-collapse-transition-config;
  width: @sidenav-default-width;

  .@{ns}nav-item > .@{ns}nav-item-content,
  .@{ns}dropdown .@{ns}dropdown-toggle {
    padding: @sidenav-padding-vertical @sidenav-padding-horizonal;
    transition: padding-left @sidenav-collapse-transition-config, @nav-item-transition;
  }

  .@{ns}dropdown .@{ns}dropdown-menu {
    transition: padding-left @sidenav-collapse-transition-config;
  }

  .@{ns}dropdown .dropdown-toggle {
    height: auto;
    padding-right: @sidenav-padding-horizonal + @sidenav-dropdown-toggle-caret-width;

    .dropdown-toggle-caret {
      right: @sidenav-padding-horizonal;
      top: @sidenav-padding-vertical;
    }
  }

  .@{ns}nav.@{ns}nav-vertical ul > .@{ns}dropdown:not(:first-child),
  .@{ns}nav.@{ns}nav-vertical ul > .@{ns}nav-item:not(:first-child) {
    margin-top: 0;
  }

  // Level1
  // -----------------
  .@{ns}nav-item .@{ns}nav-item-content,
  .@{ns}dropdown .dropdown-toggle {
    font-size: @sidenav-level1-item-font-size;
    line-height: @sidenav-level1-item-line-height;
    padding-left: @sidenav-padding-horizonal + @sidenav-icon-width+@sidenav-icon-spacing;
    .ellipsis;

    > .@{ns}icon {
      font-size: @sidenav-level1-item-font-size;
      margin-right: @sidenav-icon-spacing;
      position: absolute;
      left: @sidenav-padding-horizonal;
      top: @sidenav-padding-vertical;
    }
  }
}

//** Expanded styles
.@{ns}sidenav-collapsing,
.@{ns}sidenav-collapse-in {
  width: @sidenav-collapse-in-width;

  //Nav item content
  .@{ns}nav-item:not(.nav-item-active):not(.nav-item-disabled) > .nav-item-content {
    border-radius: 0;
  }

  //Dropdown style rewrite
  .@{ns}dropdown {
    padding-top: @sidenav-item-height;

    > .@{ns}dropdown-toggle {
      position: absolute;
      top: 0;
      border-radius: 0;
    }

    .@{ns}dropdown-toggle-caret::before,
    .@{ns}dropdown-menu-toggle > .icon::before {
      content: @dropdown-caret-content;
    }

    .@{ns}dropdown-toggle-caret,
    .@{ns}dropdown-menu-toggle > .icon {
      transition: transform .3s linear;
    }

    // Expand
    &.@{ns}dropdown-expand .@{ns}dropdown-toggle-caret,
    .@{ns}dropdown-item.@{ns}dropdown-item-expand > .@{ns}dropdown-item-content > .@{ns}dropdown-menu-toggle > .icon {
      transform: rotate(180deg);
    }

    // Dropdown menu
    > .@{ns}dropdown-menu {
      .reset-sidenav-dropdown-menu;

      // Submenu
      .@{ns}dropdown-item-submenu > .@{ns}dropdown-item-content {
        padding: 0;

        > .dropdown-menu-toggle {
          display: block;
          padding-right: @sidenav-padding-horizonal + @sidenav-dropdown-toggle-caret-width;
        }

        > .@{ns}dropdown-menu {
          .reset-sidenav-dropdown-menu;
        }

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  //Ellipsis
  .dropdown-item:not(.@{ns}dropdown-item-submenu) > .@{ns}dropdown-item-content,
  .dropdown-menu .@{ns}dropdown-menu-toggle {
    .ellipsis;
  }

  // Expand && Collapse
  .@{ns}dropdown-expand.@{ns}dropdown > .@{ns}dropdown-menu {
    height: auto;

    // Submenu
    .@{ns}dropdown-item-submenu.@{ns}dropdown-item-expand > .@{ns}dropdown-item-content > .@{ns}dropdown-menu {
      height: auto;
    }
  }

  // Level2
  // -----------------
  .@{ns}dropdown-item-submenu > .@{ns}dropdown-item-content > .@{ns}dropdown-menu-toggle {
    padding-left: @sidenav-level1-retract;
    padding-right: @sidenav-padding-horizonal + @sidenav-dropdown-toggle-caret-width;
    position: relative;

    > .@{ns}icon {
      position: absolute;
      right: @sidenav-padding-horizonal;
      top: @sidenav-padding-vertical;
      width: auto;
      height: @sidenav-dropdown-toggle-caret-width;
    }
  }

  .@{ns}dropdown-item > .@{ns}dropdown-item-content,
  .@{ns}dropdown-item-submenu > .@{ns}dropdown-item-content > .@{ns}dropdown-menu-toggle {
    padding: @sidenav-padding-vertical @sidenav-padding-horizonal @sidenav-padding-vertical @sidenav-level1-retract;
  }

  // Level3
  // -----------------
  .@{ns}dropdown-item > .@{ns}dropdown-item-content .dropdown-item:not(.@{ns}dropdown-item-submenu) > .@{ns}dropdown-item-content,
  .@{ns}dropdown-item-submenu > .@{ns}dropdown-item-content > .dropdown-menu .@{ns}dropdown-menu-toggle {
    padding-left: @sidenav-level1-retract + @sidenav-level-retract; //60 px
  }

  // Level4
  // -----------------
  .@{ns}dropdown-item > .@{ns}dropdown-item-content .@{ns}dropdown-item-content .@{ns}dropdown-item:not(.@{ns}dropdown-item-submenu) > .@{ns}dropdown-item-content,
  .@{ns}dropdown-item-submenu > .@{ns}dropdown-item-content > .dropdown-menu .dropdown-menu .@{ns}dropdown-menu-toggle {
    padding-left: @sidenav-level1-retract + @sidenav-level-retract*2;
  }

  // Level5
  // -----------------
  .@{ns}dropdown-item > .@{ns}dropdown-item-content .@{ns}dropdown-item-content .@{ns}dropdown-item-content .@{ns}dropdown-item:not(.@{ns}dropdown-item-submenu) > .@{ns}dropdown-item-content,
  .@{ns}dropdown-item-submenu > .@{ns}dropdown-item-content > .dropdown-menu .dropdown-menu .dropdown-menu .@{ns}dropdown-menu-toggle {
    padding-left: @sidenav-level1-retract + @sidenav-level-retract*3;
  }

  // Level6
  // -----------------
  .@{ns}dropdown-item > .@{ns}dropdown-item-content .@{ns}dropdown-item-content .@{ns}dropdown-item-content .@{ns}dropdown-item-content .@{ns}dropdown-item:not(.@{ns}dropdown-item-submenu) > .@{ns}dropdown-item-content {
    padding-left: @sidenav-level1-retract + @sidenav-level-retract*4;
  }
}

//** Folded && Collapsing styles
.@{ns}sidenav-collapse-out {
  .@{ns}nav-item .@{ns}nav-item-content,
  .@{ns}dropdown .@{ns}dropdown-toggle {
    padding-right: 0;
    // fixed height
    height: @sidenav-item-height;
    // supplement padding
    padding-left: @sidenav-default-width;
  }

  .@{ns}dropdown-toggle-caret {
    display: none;
  }

  // Folded text animation setting
  .@{ns}nav-item-text,
  .@{ns}dropdown-toggle > span {
    display: ~"none\9\0";
    animation: sideNavFoldedText @sidenav-collapse-transition-config forwards;
  }
}

//** Collapsing styles
.@{ns}sidenav-collapsing {
  // Rewrite  text-overflow
  &.@{ns}sidenav-collapse-in,
  &.@{ns}sidenav-collapse-out {
    .@{ns}nav-item .@{ns}nav-item-content,
    .@{ns}dropdown .dropdown-toggle,
    .@{ns}dropdown-item .@{ns}dropdown-item-content,
    .@{ns}dropdown-item-submenu > .@{ns}dropdown-item-content > .@{ns}dropdown-menu-toggle {
      text-overflow: clip;
    }
  }

  // Make sure icon text-align center
  &.@{ns}sidenav-collapse-out {
    .@{ns}dropdown .@{ns}dropdown-menu {
      padding-left: @sidenav-default-width - @sidenav-level1-retract;
    }

    .@{ns}dropdown-item > .@{ns}dropdown-item-content {
      animation: sideNavFoldedText @sidenav-collapse-transition-config;
    }
  }
}

// Alternate Sidenavs
// --------------------------------------------------

//** Default sidenav
.@{ns}sidenav-default {
  background-color: @sidenav-deafult-bg;

  .dropdown-menu > li > .dropdown-item-content {
    color: @sidenav-deafult-font-color;

    &:hover {
      background-color: transparent;
      color: @sidenav-deafult-hover-font-color;
    }
  }
}

.@{ns}sidenav-inverse {
  background-color: @sidenav-inverse-bg;
}

.@{ns}sidenav-subtle {
  background-color: @sidenav-subtle-bg;
}
