{{#> base}}
    {{#*inline "main"}}
        <div class="bs-docs-section">
            <h1 id="buttons" class="page-header">按钮</h1>

            <h2 id="buttons-tags">可作为按钮使用的标签或元素</h2>
            <p>为 <code>&lt;a&gt;</code>、<code>&lt;button&gt;</code> 或 <code>&lt;input&gt;</code> 元素添加按钮类（button
                class）即可使用 Bootstrap 提供的样式。</p>
            <form class="bs-example" data-example-id="btn-tags">
                <a class="btn btn-default" href="javascript:;" role="button">Link</a>
                <button class="btn btn-default" type="submit">Button</button>
                <input class="btn btn-default" type="button" value="Input">
                <input class="btn btn-default" type="submit" value="Submit">
            </form>

            <h2 id="buttons-options"><a class="anchorjs-link " href="#buttons-options"
                                        aria-label="Anchor link for: buttons options" data-anchorjs-icon=""
                                        style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>预定义样式
            </h2>
            <p>使用下面列出的类可以快速创建一个带有预定义样式的按钮。</p>
            <div class="bs-example">
                <button type="button" class="btn btn-default">（默认样式）Default</button>
                <button type="button" class="btn btn-primary">（首选项）Primary</button>
                <button type="button" class="btn btn-success">（成功）Success</button>
                <button type="button" class="btn btn-info">（一般信息）Info</button>
                <button type="button" class="btn btn-warning">（警告）Warning</button>
                <button type="button" class="btn btn-danger">（危险）Danger</button>
                <button type="button" class="btn btn-link">（链接）Link</button>
            </div>

            <h2 id="buttons-sizes">尺寸</h2>
            <p>需要让按钮具有不同尺寸吗？使用 <code>.btn-lg</code>、<code>.btn-sm</code> 或 <code>.btn-xs</code> 就可以获得不同尺寸的按钮。</p>
            <div class="bs-example" data-example-id="btn-sizes">
                <p>
                    <button type="button" class="btn btn-primary btn-lg">（大按钮）Large button</button>
                    <button type="button" class="btn btn-default btn-lg">（大按钮）Large button</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary">（默认尺寸）Default button</button>
                    <button type="button" class="btn btn-default">（默认尺寸）Default button</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary btn-sm">（小按钮）Small button</button>
                    <button type="button" class="btn btn-default btn-sm">（小按钮）Small button</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary btn-xs">（超小尺寸）Extra small button</button>
                    <button type="button" class="btn btn-default btn-xs">（超小尺寸）Extra small button</button>
                </p>
            </div>

            <p>通过给按钮添加 <code>.btn-block</code> 类可以将其拉伸至父元素100%的宽度，而且按钮也变为了块级（block）元素。</p>
            <div class="bs-example" data-example-id="block-btns">
                <div class="well center-block" style="max-width: 400px;">
                    <button type="button" class="btn btn-primary btn-lg btn-block">（块级元素）Block level button</button>
                    <button type="button" class="btn btn-default btn-lg btn-block">（块级元素）Block level button</button>
                </div>
            </div>

            <h3 id="button">元素</h3>
            <p>由于 <code>:active</code> 是伪状态，因此无需额外添加，但是在需要让其表现出同样外观的时候可以添加 <code>.active</code> 类。</p>
            <p class="bs-example" data-example-id="active-button-btns">
                <button type="button" class="btn btn-primary btn-lg active">Primary button</button>
                <button type="button" class="btn btn-default btn-lg active">Button</button>
            </p>

            <h3 id="a">链接（<code>&lt;a&gt;</code>）元素</h3>
            <p>可以为基于 <code>&lt;a&gt;</code> 元素创建的按钮添加 <code>.active</code> 类。</p>
            <p class="bs-example" data-example-id="active-anchor-btns">
                <a href="javascript:;" class="btn btn-primary btn-lg active" role="button">Primary link</a>
                <a href="javascript:;" class="btn btn-default btn-lg active" role="button">Link</a>
            </p>

            <h2 id="buttons-active">激活状态</h2>
            <p>当按钮处于激活状态时，其表现为被按压下去（底色更深、边框夜色更深、向内投射阴影）。对于 <code>&lt;button&gt;</code> 元素，是通过 <code>:active</code>
                状态实现的。对于 <code>&lt;a&gt;</code> 元素，是通过 <code>.active</code> 类实现的。然而，你还可以将 <code>.active</code> 应用到
                <code>&lt;button&gt;</code> 上（包含 <code>aria-pressed="true"</code> 属性)），并通过编程的方式使其处于激活状态。</p>
            <h3 id="button">button元素</h3>
            <p>由于 <code>:active</code> 是伪状态，因此无需额外添加，但是在需要让其表现出同样外观的时候可以添加 <code>.active</code> 类。</p>
            <p class="bs-example" data-example-id="active-button-btns">
                <button type="button" class="btn btn-primary btn-lg active">Primary button</button>
                <button type="button" class="btn btn-default btn-lg active">Button</button>
            </p>

            <h3 id="a">链接（<code>&lt;a&gt;</code>）元素</h3>
            <p>可以为基于 <code>&lt;a&gt;</code> 元素创建的按钮添加 <code>.active</code> 类。</p>
            <p class="bs-example" data-example-id="active-anchor-btns">
                <a href="#" class="btn btn-primary btn-lg active" role="button">Primary link</a>
                <a href="#" class="btn btn-default btn-lg active" role="button">Link</a>
            </p>

            <h2 id="buttons-disabled">禁用状态</h2>
            <p>通过为按钮的背景设置 <code>opacity</code> 属性就可以呈现出无法点击的效果。</p>

            <h3 id="button-1">button元素</h3>
            <p>为 <code>&lt;button&gt;</code> 元素添加 <code>disabled</code> 属性，使其表现出禁用状态。</p>
            <p class="bs-example" data-example-id="disabled-button-btns">
                <button type="button" class="btn btn-primary btn-lg" disabled="disabled">Primary button</button>
                <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
            </p>

            <h3 id="a-1">链接（<code>&lt;a&gt;</code>）元素</h3>
            <p>为基于 <code>&lt;a&gt;</code> 元素创建的按钮添加 <code>.disabled</code> 类。</p>
            <p class="bs-example" data-example-id="disabled-anchor-btns">
                <a href="javascript:;" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>
                <a href="javascript:;" class="btn btn-default btn-lg disabled" role="button">Link</a>
            </p>
        </div>
    {{/inline}}

    {{#*inline "complementary"}}
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            <ul class="nav bs-docs-sidenav">
                <li class="active">
                    <a href="#buttons">按钮</a>
                    <ul class="nav">
                        <li class="active"><a href="#buttons-tags">可作为按钮使用的标签或元素</a></li>
                        <li><a href="#buttons-options">预定义样式</a></li>
                        <li><a href="#buttons-sizes">尺寸</a></li>
                        <li><a href="#buttons-active">激活状态</a></li>
                        <li><a href="#buttons-disabled">禁用状态</a></li>
                    </ul>
                </li>
            </ul>
            <a class="back-to-top" href="#top">
                返回顶部
            </a>

        </nav>
    {{/inline}}
{{/base}}
