// Select Picker
// ----------------------
// Menu Items
.@{tns}picker-select-menu-items {
  .picker-menu-items;
  .picker-menu-group-common(@select-picker-prefix);
  .picker-menu-group-title(@select-picker-prefix);
  .picker-menu-group-closed(@select-picker-prefix);
}

// Menu item
.@{tns}picker-select-menu-item {
  display: block;
  padding: @picker-item-content-padding-vertical @picker-item-content-padding-horizontal;
  clear: both;
  font-weight: normal;
  line-height: @line-height-base;
  color: @picker-select-item-color;
  cursor: pointer; //fixed link has not [href] style
  transition: @picker-item-transition;
  text-decoration: none;
  max-width: @picker-content-max-width;
  // Forcing a newline
  .break-word;

  &:not(.@{tns}picker-check-menu-item-disabled):hover,
  &.@{tns}picker-select-menu-item-focus {
    .picker-item-hover;

    text-decoration: none;
  }

  &.@{tns}picker-select-menu-item-active {
    color: @picker-select-menu-item-selected-color;
    background-color: @picker-select-menu-item-selected-bg;
  }

  &.@{tns}picker-select-menu-item-disabled {
    color: @picker-menu-item-disabled-color;
    cursor: @cursor-disabled;
  }

  .@{tns}picker-select-menu-group-children & {
    padding-left: @picker-group-children-padding-left;
  }
}
