.alert-variant(@background; @icon-color) {
  .@{notification-ns}.rsuite-alert & {
    // Content
    .@{notification-ns}-notice-content {
      background-color: @background;
      color: @B900;

      // Tip icon
      .icon {
        color: @icon-color;
      }
    }

    // Close button
    .@{notification-ns}-notice-close {
      cursor: pointer;
      color: @icon-color;
    }
  }
}
