.ie-border-none() when (@ie-polyfill = true) {
  border: ~"none@{ieSuffix}";
}

.ie-display(@display) when (@ie-polyfill = true) {
  display: ~"@{display}@{ieSuffix}";
}

.ie-display-none() when (@ie-polyfill = true) {
  .ie-display(none);
}

.ie-display-table() when (@ie-polyfill = true) {
  .ie-display(table);
}

.ie-display-table-cell() when (@ie-polyfill = true) {
  .ie-display(table-cell);
}

.ie-width-full() when (@ie-polyfill = true) {
  width: ~"100%@{ieSuffix}";
}

.ie-max-width-1px() when (@ie-polyfill = true) {
  max-width: ~"1px@{ieSuffix}";
}

.ie-vertical-align-top() when (@ie-polyfill = true) {
  .ie-vertical-align(top);
}

.ie-width(@width) when (@ie-polyfill = true) {
  width: ~"@{width}@{ieSuffix}";
}

.ie-border-style(@style) when (@ie-polyfill = true) {
  border-style: ~"@{style}@{ieSuffix}";
}

.ie-vertical-align(@vertical-align) when (@ie-polyfill = true) {
  vertical-align: ~"@{vertical-align}@{ieSuffix}";
}

.ie-text-align(@text-align) when (@ie-polyfill = true) {
  text-align: ~"@{text-align}@{ieSuffix}";
}

.ie-float(@float) when (@ie-polyfill = true) {
  float: ~"@{float}@{ieSuffix}";
}
